*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: 'Raleway';
  --accent-font: 'STIX Two Text';
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-top: 10%;
}

.heading {
  font-family: var(--accent-font);
  line-height: 90%;
  font-weight: 600;
  text-align: center;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content-section {
  padding: 0 5vi;
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-right: 1px;
  font-weight: bold;
  font-size: 30px;
}

.content__blockquote {
  width: 75%;
  justify-self: center;
  font-style: italic;
  line-height: 200%;
  padding-bottom: 1.5em;
}

.content__paragraph__link {
  color: inherit;
}

.content__list {
  list-style: none;
}

.content__list-item {
  position: relative;
  margin-bottom: 10px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.content__list-item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: -25px;
  margin-top: 3px;
}